@* This is the Razer template that is used inside a Blazer server application to give us the rich HTML information*@

@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace FirstBlazorAppWithJeff.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*All the CSS Sylesheets*@
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="FirstBlazorAppWithJeff.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @* The location for where the Blazer application is going to be rendered *@
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    @* Information about error handling user interface*@
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    @* A script that is going to start up the Blazer server *@
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
