@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    // The use of the [Parameter] attribute initialize the property IncrementBy with the corresponding value from the route parameters.
    [Parameter] 

    public int IncrementBy { get; set; } = 1; 

    private void IncrementCount()
    {
        //Changed the IncrementCount method to use the IncrementAmount when incrementing the value of currentCount.
        currentCount += IncrementBy; 
    }
}
